* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */

#header-section {
    width: 100%;
    padding: 20px 0;
    /* box-shadow: 0px 4px 70px rgba(30, 40, 52, 0.08); */
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.08);
}

header {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 45px;
}

#nav-ul li button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px 10px;
} 

/* Hero Section */
#hero-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
    padding: 100px 50px;
}

#hero-section > div {
    padding: 8px;
    border-radius: 18px;
    background-color: gray;
    opacity: 0.4;
    align-self: center;
}

#hero-section > h1 {
    margin-top: 20px;
    color: chocolate;
    font-size: 80px;
    font-weight: 700;
    /* border: 1px solid red; */
    align-self: center;
    text-align: center;
    width: 80%;
}

#hero-section > p {
    width: 100%;
    font-size: 22px;
    color: gray;
    text-align: center;
}