* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

/* Header Section */

#header-section {
  /* this applies an image and color to a background
   background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.856),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/personally-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  width: 100%;
  padding: 20px 0;
  /* box-shadow: 0px 4px 70px rgba(30, 40, 52, 0.08); */
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.08);
}

header {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#mobile-nav {
  display: none;
}
#nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 45px;
}

#nav-ul li button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px 10px;
}

#menu-icon {
  display: none;
}

/* Hero Section */
#hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 50px;
}

#hero-section > div {
  padding: 8px;
  border-radius: 18px;
  background-color: gray;
  opacity: 0.4;
  align-self: center;
}

#hero-section > h1 {
  margin-top: 20px;
  background-clip: text;
  background: linear-gradient(97.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 700;
  align-self: center;
  text-align: center;
  width: 80%;
}

#hero-section > p {
  width: 100%;
  font-size: 22px;
  color: gray;
  text-align: center;
}
/* Blogs section */
.blogs-section {
  padding: 30px 0px;
  background-color: rgb(245, 241, 241);
}
.view-all {
  width: 68%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.view-all .btn {
  border: 1px solid red;
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 7px;
}
.blogs-container {
  width: 65%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog {
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.blog-texts {
  width: 70%;
}
.blog-texts h3 {
  margin-top: 12px;
}
.blog-texts p {
  margin-top: 15px;
  color: grey;
}
.blog-image {
  width: 28%;
}
#newsletter-section {
  width: 68%;
  margin: 0 auto;
}
#newsletter-section h2 {
  background-clip: text;
  background: linear-gradient(97.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
#newsletter-section p {
  margin-top: 15px;
  text-align: center;
}
#newsletter-section > div {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#newsletter-section > div input {
  padding: 10px 35px;
  border-radius: 5px;
  border: 2px solid grey;
}
#newsletter-section > div input:focus {
  outline: none;
}
#newsletter-section > div button {
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

footer {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive Design */
@media (max-width: 768px) {
  header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
  }
  #menu-icon {
    display: block;
  }
  #desktop-nav {
    display: none;
  }
  div.show-nav {
    display: none;
    width: 90%;
    margin: 0 auto;
  }
  /* div.show-nav.active {
    display: block;
  } */
  div.show-nav {
    display: none;
    width: 90%;
    margin: 0 auto;
  }
  #mobile-nav {
    background-color: gray;
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
  }
  #nav-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #hero-section > h1 {
    font-size: 46px;
    font-weight: 600;
  }
  #hero-section > p {
    width: 100%;
    font-size: 18px;
  }
  /* blogs section */
  .view-all {
    width: 80%;
  }
  .blogs-container {
    width: 80%;
    align-items: center;
  }
  .blog {
    padding: 20px;
    width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .blog-texts {
    width: 100%;
  }
  .blog-texts h3 {
    margin-top: 12px;
  }
  .blog-texts p {
    margin-top: 15px;
    color: grey;
  }
  .blog-image {
    width: 100%;
    height: 250px;
    padding: 0;
    object-fit: cover;
    border-radius: 8px;
  }
}
